@charset "UTF-8";
html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}

html {
  text-align: center;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 50% auto;
}

table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}
input[type="text"] {
	 background-color : rgba(0,0,0,0); 
	 border: none;
	 font-weight: bold;
	 color: whitesmoke;
}

input[type="text"]:focus {
	 outline: none;
}
.navMenu{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.navMenu input{
	padding: 5px;
	margin: 10px;
}

navMenu a{
	padding: 5px;
	margin: 10px;
}
